#list {
  display: none;
}

.food {
  color: #3399ff;
}

.restuarant {
  color: #3399ff;
}

.animal {
  color: #3399ff;
}

.country {
  color: #3399ff;
}

.movie {
  color: #3399ff;
}

.tvshow {
  color: #3399ff;
}
